{% spaceless %}
    <div class="tabbed-area {{ widget.attrs.id }}">
        {% for subwidget in widget.subwidgets %}
            <input class="itab" id="{{ subwidget.lang }}_{{ widget.attrs.id }}" type="radio" name="{{ widget.name }}" {% if not forloop.counter0 %} checked {% endif %}/>
            <label class="ltab" for="{{ subwidget.lang }}_{{ widget.attrs.id }}">
                {{ subwidget.lang }}
            </label>
            <div class="tab">{{subwidget.render}}</div>
        {% endfor %}
        {% if add_related_url %}{% load i18n static %}
            <a class="ltab related-widget-wrapper-link add-language" data-id-template="{{ widget.attrs.id }}" data-name-template="{{ widget.name }}" id="lang_{{ widget.attrs.id }}" href='{{add_related_url}}?_to_field=iso&amp;_popup=1' title="{% trans 'Add another Language' %}">
                <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% trans 'Add' %}">
            </a>
        {% endif %}
    </div>
{% endspaceless %}
